[submodule "display-case"]
	path = display-case
	url = https://github.com/WCRSyyc/display-case.git
[submodule "xylophone"]
	path = xylophone
	url = https://github.com/WCRSyyc/xylophone.git
[submodule "spatula-bot"]
	path = spatula-bot
	url = https://github.com/WCRSyyc/spatula-bot.git
[submodule "tripod-dir-test"]
	path = tripod-dir-test
	url = https://github.com/WCRSyyc/tripod-dir-test.git
[submodule "cr-servo-test"]
	path = cr-servo-test
	url = https://github.com/WCRSyyc/cr-servo-test.git
[submodule "circle-lf-sensor-test"]
	path = circle-lf-sensor-test
	url = https://github.com/WCRSyyc/circle-lf-sensor-test.git
[submodule "omni3-follower"]
	path = omni3-follower
	url = https://github.com/WCRSyyc/omni3-follower.git
[submodule "omni4-follower"]
	path = omni4-follower
	url = https://github.com/WCRSyyc/omni4-follower.git
[submodule "servo-calibration"]
	path = servo-calibration
	url = https://github.com/WCRSyyc/servo-calibration.git
[submodule "libraries"]
	path = libraries
	url = https://github.com/WCRSyyc/libraries.git
[submodule "door-lock-test"]
	path = door-lock-test
	url = https://github.com/WCRSyyc/door-lock-test.git
[submodule "drummerduino"]
	path = drummerduino
	url = https://github.com/WCRSyyc/drummerduino.git
[submodule "DC4MotorTest"]
	path = DC4MotorTest
	url = https://github.com/WCRSyyc/DC4MotorTest.git
[submodule "joystickTest"]
	path = joystickTest
	url = https://github.com/WCRSyyc/joystickTest.git
[submodule "nRF2401-carbot-joystick"]
	path = nRF2401-carbot-joystick
	url = https://github.com/WCRSyyc/nRF2401-carbot-joystick
[submodule "nRF2401-Joy2"]
	path = nRF2401-Joy2
	url = https://github.com/WCRSyyc/nRF2401-Joy2.git
[submodule "nRF2401-carbot-remote"]
	path = nRF2401-carbot-remote
	url = https://github.com/WCRSyyc/nRF2401-Joy2.git
[submodule "nRF2401LCD"]
	path = nRF2401LCD
	url = https://github.com/WCRSyyc/nRF2401LCD.git
[submodule "nRF2401-motors"]
	path = nRF2401-motors
	url = https://github.com/WCRSyyc/nRF2401-motors.git
[submodule "nRF2401-motors03"]
	path = nRF2401-motors03
	url = https://github.com/WCRSyyc/nRF2401-motors03.git
[submodule "optical_tachometer"]
	path = optical_tachometer
	url = https://github.com/WCRSyyc/optical_tachometer
[submodule "optical-tach-serial"]
	path = optical-tach-serial
	url = https://github.com/WCRSyyc/optical-tach-serial.git
