[submodule "display-case"]
	path = display-case
	url = https://github.com/WCRSyyc/display-case.git
[submodule "xylophone"]
	path = xylophone
	url = https://github.com/WCRSyyc/xylophone.git
[submodule "spatula-bot"]
	path = spatula-bot
	url = https://github.com/WCRSyyc/spatula-bot.git
[submodule "tripod-dir-test"]
	path = tripod-dir-test
	url = https://github.com/WCRSyyc/tripod-dir-test.git
[submodule "cr-servo-test"]
	path = cr-servo-test
	url = https://github.com/WCRSyyc/cr-servo-test.git
[submodule "circle-lf-sensor-test"]
	path = circle-lf-sensor-test
	url = https://github.com/WCRSyyc/circle-lf-sensor-test.git
[submodule "omni3-follower"]
	path = omni3-follower
	url = https://github.com/WCRSyyc/omni3-follower.git
[submodule "omni4-follower"]
	path = omni4-follower
	url = https://github.com/WCRSyyc/omni4-follower.git
[submodule "servo-calibration"]
	path = servo-calibration
	url = https://github.com/WCRSyyc/servo-calibration.git
[submodule "libraries"]
	path = libraries
	url = https://github.com/WCRSyyc/libraries.git
[submodule "door-lock-test"]
	path = door-lock-test
	url = https://github.com/WCRSyyc/door-lock-test.git
[submodule "drummerduino"]
	path = drummerduino
	url = https://github.com/WCRSyyc/drummerduino.git
